*{
	font-family: arial;
	
}

body {
    background: linear-gradient(270deg, #d6d6d6, #c2c2c2, #afafaf, #9c9c9c, #919191, #828282);
    background-size: 1200% 1200%;

    animation: backg 11s ease infinite;
}

@keyframes backg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.entrada{
	display: flex;
	width: 400px;
	height: 50px;
	justify-content: space-between;
	align-items: center;
}

.entrada input{
	width: 300px;
	height: 50px;
	border-radius: 4px;
	border: none;
	outline: none;
	text-align: center;
	font-size: 1.8rem;
	background-color: lightblue;
	text-shadow: 2px 1px 4px darkgray;
	box-shadow: 0 0 10px gray;
}

button{
	width: 400px;
	height: 50px;
	margin-top: 10px;
	background: lightblue;
	border-radius: 4px;
	border: none;
	align-items: center;
	font-size: 1.6rem;
	cursor: pointer;
	box-shadow: 0 0 10px gray;
	text-transform: uppercase;
	letter-spacing: 8px;
	text-shadow: 2px 1px 4px darkgray;
	color: black;
}

button:active {
	background-color: lightgray;
	transform: translateY(1px);
  
}

.container {
	opacity: 0.97;
	display: flex;
	width: 100%;
	margin-top: 70px;
	justify-content: center;
	align-items: center;
}

.box {
	background: url(img/back.jpg);
	background-size: 100%;
	width: 500px;
	height: 600px;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 0 0 5px black;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.entrada {
	text-shadow: 2px 1px 4px darkgray;
	color: black;
	font-weight: bold;
	padding: 10px;
	font-size: 1.8rem;
}

.topo {
	display: flex;
	text-shadow: 2px 1px 4px darkgray;
	color: black;
	font-weight: bold;
	letter-spacing: 4px;
	justify-content: center;
	width: 100%;
	height: 50px;
	font-size: 2.4rem;
	border-bottom: solid 5px black;
	border-radius: 5px;
	margin-bottom: 20px;
}

.result {
	font-style: italic;
	padding-top: 37.5px;
	text-align: center;
	font-size: 1.6rem;
	align-items: center;
	width: 400px;
	height: 150px;
	background: lightblue;
	border-radius: 4px;
	margin-top: 10px;
	color: black;
	text-shadow: 2px 1px 4px darkgray;
	box-sizing: border-box;
	box-shadow: 0 0 10px gray;
}